body {
  background: url("../img/bucket.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

.btn-default {
  color: #6B6B6B;
}

/* index pade styling */
.centered {
  margin-top: 15%;
  color: #fff;
}

.copyright {
  position : fixed;
  bottom : 0;
  right: 0;
  clear: both;
}

/* modal styling */
.modal-content {
  color: #6B6B6B;
}

/* home page content styling */
.header {
  margin-bottom: 50px;
}

.content {
  height: 100%;
  width: 100%;
  background: url("../img/paper.jpg") no-repeat;
  background-color: #fff;
  border-radius: 8px;
  padding: 40px 10px 10px 10px;
  margin: 20px 0px;
  color: #6B6B6B;
}

.content .row {
  margin: 0px 20px;
}

#name {
  display: inline-block;
}

#logout {
  margin-top: 20px;
}

#back {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.list-group {
  margin-bottom: 0px;
}

.list-group-item {
  background-color: #F5F5F5;
  border: none;
}

.buckets {
  overflow: auto;
  margin-top: 10px;
}

.edit {
  margin: 5px 10px;
}

input[type="checkbox"] {
    margin: 4px 10px 0px;
}

.delete-item, .delete-list {
  padding: 0px;
}

.pagination {
  width: 100%;
  text-align: center;
}

/* error page */
#error-header {
  margin-bottom: 40px;
}