{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
      {% block head %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
      <link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
      <link href="{% static 'lib/flxgrid/dist/css/flexgrid.min.css' %}" rel="stylesheet">
      <link href="{% static 'lib/mdi/css/materialdesignicons.min.css' %}" type="text/css" rel="stylesheet"/>
      <link rel="shortcut icon" href="{% static 'img/bucket.ico' %}" type="image/x-icon">
      <link rel="icon" href="{% static 'img/bucket.ico' %}" type="image/x-icon">
      <link href="{% static 'css/base.css' %}" type="text/css" rel="stylesheet"/>
      {% endblock head %}
      <title>{% block title %}BucketList{% endblock title %}</title>
    </head>
    <body>
      {% block body %}
      <!--header-->
      {% block navbar %}
      <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li></li>
                  </ul>
              </div>
          </div>
      </nav>
      {% endblock navbar %}
      
      <!--content--> 
      {% block content %}
      {% endblock content %}

      {% endblock body %}
      
      <script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
      <script src="{% static 'lib/bootstrap/dist/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
