{% extends "bucketlist/base.html" %}
{% load bootstrap %}

{% block title %}Bucketlist: {{ name }}{% endblock %}

{% block body %}
  <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
    <div class="content">
      <div class="header">
        <div class="row">
          <a class="pull-right" id="back" href="/bucketlist/{{ request.user.username }}"><i class="mdi mdi-arrow-left-bold-circle"></i></a>
          <h2 id="name">{{ name }}</h2>   
        </div>
      </div>
      <div class="page-content">
        <div class="row">
          <h3>Items &nbsp;
          <a href="#bucketModal" data-toggle="modal"><i class="mdi mdi-plus"></i></a>
          </h3>
          <hr>
        </div>
        <!-- bucketitem form modal -->
        <div id="bucketModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Let's fill up our bucket &nbsp;<i class="mdi mdi-bitbucket"></i></h4>
              </div>
              <div class="modal-body">
                <form role="form" action="{% url 'bucketitem' bucketlistid  %}" method="post" id="bucketitem-form">
                  {% csrf_token %}
                  {{ bucketitemform|bootstrap }}
                  <button id="add" type="submit" class="btn btn-default">Add</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="buckets well">
          <ul class="list-group">
            {% for item in bucketitems %}
            <li class="list-group-item item-{{ item.pk }}">{{ item.name }}
              <a class="btn pull-right delete-item" id="delete-{{ item.pk }}-{{item.bucketlist_id}}"><i class="mdi mdi-close"></i></a>  
              <input class="pull-right item-checkbox" id="edit-{{ item.pk }}-{{item.bucketlist_id}}" type="checkbox" {% if item.done %}checked{% endif %}>
            </li>
            {% endfor %}
          </ul>
          <div class="pagination col-centered">
            <span class="step-links">
              {% if bucketitems.has_previous %}
                <a href="?page={{ bucketitems.previous_page_number }}">previous</a>
              {% endif %}
              <span class="current">
                Page {{ bucketitems.number }} of {{ bucketitems.paginator.num_pages }}
              </span>
              {% if bucketitems.has_next %}
                <a href="?page={{ bucketitems.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
