{% extends "bucketlist/base.html" %}
{% load bootstrap %}

{% block title %}Welcome{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <!-- Flash messages -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert" id="flash-message">
                        {{ message }}
                    </div>
                {% endfor %}    
            {% endif %}
        </div>
        <div class="col-sm-7">
            <i id="logo" class="mdi mdi-clipboard-text"></i>
            <h1 id="title">myBucketlist</h1>
        </div>

        <div class="col-sm-5">
            <!-- Registration form -->
            <div class="registration-form">
                <form class="form-horizontal" action="/register" method="post">
                    <fieldset>
                        <legend>Register and let's have fun!!</legend>
                        {% csrf_token %}
                        {{ registrationform|bootstrap }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                    </fieldset>
                </form>
                <a id="login-link">I already have an account</a>
            </div>

            <!-- Login form -->
            <div class="login-form">
                <form class="form-horizontal" action="/login" method="post">
                    <fieldset>
                        <legend>Happy to see you again!</legend>
                        {% csrf_token %}
                        {{ loginform|bootstrap }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Log In</button>
                        </div>
                    </fieldset>
                </form>
                <a id="registration-link">Don't have an account?</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
